:root {
  --green: #546130;
  --dark-green: #2d3b09;
  --grey: #6f6f6f;
  --dark-grey: #454545;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--grey);
}

::-webkit-scrollbar-thumb {
  background: var(--green);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-green);
}

header {
  width: 100%;
}

header div {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1, header h3 {
  font-weight: 700;
}

header img {
  width: 100%;
  margin-bottom: -5px;
}

.desktop-header {
  margin-top: 70px;
}

.title-desktop {
  color: var(--green);
  font-size: 60px;
}

.sub-title-desktop {
  color: var(--dark-green);
  margin-top: -35px;
  font-size: 24px;
}

.desktop-mobile {
  background-color: var(--dark-grey);
  padding: 0 10vw;
  display: none;
  text-align: center;
}

.title-mobile {
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
}

.sub-title-mobile {
  color: var(--white);
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
}

.main {
  min-height: 500px;
  background-color: var(--dark-grey);
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 30%));
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 50px;
}

.item {
  display: flex;
  flex-direction: column;
	text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-wrapper {
  width: 320px;
  padding: 10px 10px 6px 10px;
  background-color: var(--grey);
}

.image-wrapper img {
  width: 100%;
}

.item-title {
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0;
}

.item-sub-title {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
}

.aside {
  min-height: 500px;
  background-color: var(--grey);
  display: flex;
  flex: 1;
}

.aside-image {
  display: flex;
  flex: 4;
  align-items: center;
  justify-content: center;
}

.rounded-image-wrapper {
  justify-content: center;
  width: 386px;
  height: 386px;
  border-radius: 213px;
  border: 20px solid var(--dark-grey);
  overflow: hidden;
}

.rounded-image-wrapper img {
  height: 100%;
}

.aside-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 5;
  padding: 0 108px 0 40px;
}

.aside-data h2 {
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
}

.aside-data p,
.aside-data strong,
.aside-data i {
  color: var(--white);
  font-size: 16px;
  margin: 12.5px 0;
}

footer {
  height: 90px;
  background-color: var(--dark-grey);
  text-align: center;
  width: 100%;
}

footer h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  line-height: 90px;
}

@media (max-width: 1300px) {
  .main {
    padding: 40px 0;
  }
}

@media (max-width: 1150px) {
  .aside-image,
  .aside-data {
    flex: 5;
  }
}

@media (max-width: 1040px) {
  .aside {
    padding: 20px 0;
  }

  .aside-image {
    flex: 6;
  }

  .aside-data {
    flex: 4;
    padding: 0 60px;
  }
}

@media (max-width: 900px) {
  .aside {
    flex-direction: column;
  }

  .aside-image {
    flex: 1;
    margin-bottom: 40px;
  }

  .aside-data {
    flex: 1;
    align-items: center;
    text-align: center;
    padding: 0 40px;
  }
}

@media (max-width: 620px) {
  .desktop-header {
    display: none;
  }

  .desktop-mobile {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .aside-data {
    padding: 20px;
  }

  .rounded-image-wrapper {
    height: 80vw;
    width: 80vw;
    border-radius: 95%;
  }
}

@media (max-width: 350px) {
  .main {
    grid-template-columns: 1fr;
  }

  .image-wrapper {
    width: 90%;
  }

  .item {
    padding: 10px;
  }
}